*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-color: #F5F5F5;
}
.top-header{
	min-height: 620px;
	position: relative;
}
.header_topline{
	background-color: #43484c;
	padding: 15px 0;
	color: #fff;
}
.soc_buttons{
	float: right;
}
.soc_buttons > a{
	font-size: 26px;
	margin-left: 8px;
	color: #fff;
}
.logo img{
	width: 100px;
	border-radius: 60px;
}
.main_mnu{
	float: right;
	text-transform: uppercase;
}
.main_mnu ul li a{
	color: #fff;
	padding: 10px;
	display: block;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.main_mnu ul li a:hover{
	color: #FFA07A;
}
.main_mnu ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	float: left;
}
.main_mnu ul li{
	display: inline-block;
	line-height: 80px;
}
.main_label{
	border: 10px solid #43484c;
	padding: 10px;
	margin: 120px;
	border-image: url(../images/label2.JPG) 15 round round;
	text-align: center;
	position: absolute;
}
.collections ul,
.collections li{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}
.collections li{
	display: inline-block;
	width: 300px;
	position: relative;
}
.collections img{
	max-width: 100%;
	display: block;
}
.description{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	opacity: 0;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.collections li:hover .description{
	opacity: 1;
}
h2{
	text-align: center;
}
.toggle-mnu {
  display: block;
  width: 28px;
  height: 15px;
  margin: 45px auto 0px;
  float: right;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.toggle-mnu span:after{
  top: 9px;
}
.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 5px;
  background-color: #F5F5F5;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
.toggle-mnu.on span {
  background-color: transparent;
}
.toggle-mnu.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle-mnu.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible;
}



