/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main_mnu{
        display: none;
        min-width: 320px;
        text-align: right;
    }
    .main_mnu ul li{
        display: block;
        min-width: 320px;
        padding: 0px;
    }
    .main_mnu ul li a{
        padding: 15px;
    }
    .main_mnu ul li a:hover{
        border-radius: 100px;
        background: url(../images/label2opasity.png);
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .collections ul li{
        float: none;
        width: auto;
        display: block;
        margin: 0px 0px 15px 0px;
    }
    .description{
	font-size: 20px;
	padding: 113px 0px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	opacity: 0;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .logo img{
	width: 80px;
	border-radius: 60px;
    }
    .toggle-mnu{
        margin: 35px auto 0px;;
    }
    .main_label h1{
        font-size: 20px;
    }
    .main_label{
        border: 5px solid #43484c;
    }
    .collections ul li{
        float: none;
        width: auto;
        display: block;
        margin: 0px 0px 15px 0px;
    }
    .points ul li{
        float: none;
        width: auto;
        display: block;
        margin: 0px 0px 15px 0px;
    }

    .description{
	font-size: 20px;
	padding: 200px 0px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	opacity: 0;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
    transition: all .5s;
    }
    footer{
        text-align: center;
    }
    footer .number{
        font-size: 20px;
    }
    footer .icons{
        float: inherit;
        font-size: 30px
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .collections ul li{
        float: none;
        width: auto;
        display: block;
        margin: 0px 0px 15px 0px;
    }
    .description{
	font-size: 20px;
	padding: 113px 0px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	opacity: 0;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
    .points ul li{
        float: none;
        width: auto;
        display: block;
        margin: 0px 0px 15px 0px;
    }
    nav ul li{
        max-width: 250px
    }
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .main_mnu{
        display: block !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}